* {
  margin: 0 auto;
  box-sizing: border-box;
}

.background {
  background-image: url(images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  background-attachment: fixed;

  padding-top: 100px;
  padding-bottom: 200px;
}

.title {
  text-align: center;

  font-family: "Carter One", cursive;
  font-size: 72px;
  font-weight: 100;

  color: rgb(231, 229, 223);

  margin-bottom: 100px;
}

.list {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

  max-width: 1200px;
}

.student {
  height: 300px;
  width: 200px;

  padding: 10px;
  padding-top: 80px;
  border-radius: 5px;

  background-image: url(images/student_img_background2.png);
  background-size: cover;

  text-align: center;
}

.student h2 {
  font-family: "Carter One", cursive;
  font-weight: 100;
  font-size: 20px;
  color: rgb(231, 229, 223);
}

.student_img {
  margin-bottom: 20px;
}
